@import "tailwindcss";
@plugin "daisyui";
/*2a1e40*/
:root {

  --defaultColor: #000000;
  --font-sans: "Inter";
  --font-serif: "Source Serif 4";
  --font-mono: "JetBrains Mono";
  --fontFamily: var(--font-sans), sans-serif;}
  

body {
  display: block;
  min-height: 100vh;
  width: 100%;
  font-family: var(--fontFamily);
}



.portofolioHomePage{
  /* box-shadow: 0 0 15px 10px #000000;
  border-top: #161616 solid 2px; */
  top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
   background-color: var(--defaultColor);
}

