@import "tailwindcss";
@plugin "daisyui";

:root {
  --defaultColor: #2a1e40;
  --font-sans: "Inter";
  --font-serif: "Source Serif 4";
  --font-mono: "JetBrains Mono";
  --fontFamily: var(--font-sans), sans-serif;}

body {
  display: flex;
  background: var(--defaultColor);
  height: 100vh;
  width: 100%;
  justify-content: center;
  font-family: var(--fontFamily);
}
