@import "tailwindcss";
@plugin "daisyui";

body{
display: flex;
background: #2a1e40;
background: radial-gradient(circle, rgba(42, 30, 64, 1) 0%, rgba(13, 12, 20, 1) 100%);
height: 100vh;
width: 100%;
justify-content: center;
align-items: center;
}